body{
  background-color:rgb(68, 32, 230);
}

/* Home---------------------------------- */
.home-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.quiz_head{
  color: white;
}

.play{
  color: white;
  background-color: rgb(13, 184, 13);
  padding: 0.7% 2% 0.7% 2%;
  border-radius: 50px;
  width:150px;

}

/* Question-------------------------------- */
.question-container{
  background-color:rgb(255, 255, 255);
  color: black;
  height: 80vh;
  width: 80vw;
  margin: auto;
  text-align: center;
}

.question-container h3{
  text-align: start;
  padding-left: 2%;
  margin-left: 9%;
}

.question-container h2{
  padding-bottom: 7%;
  margin: 0px;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
  height: 20vh;
  margin: auto;
  column-gap: 5%;  
}

.options-container > div {
  flex-basis: 45%;
  background-color: rgb(80, 167, 255);
  height: 6vh;
  border-radius: 25px;
}

.buttons{
  display: flex;
  width: 25vw;
  margin: auto;
  justify-content: space-between;
  margin-top: 5%;

}

.previous{
  background-color: rgb(76, 105, 235);
}

.next{
  background-color: green;
}

.quit{
  background-color: red;
}

.previous,.next,.quit{
  padding: 2% 4%;
}

/* Result---------------------------------- */
.result-container{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:rgb(68, 32, 230);
  color: black;
  margin-top: 10vh;
}

.result{
  font-size: xx-large;
  color: rgb(13, 141, 13);
  margin-bottom: 10px;
}

.resulter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  text-align: center;
  background-color: white;
}

.feedback{
  font-size: large;
}

.score{
  font-size: xx-large;
  color: blue;
  font-weight: 700;
}

.result-container div{
  display: flex;
  margin: auto;
  width: 40vw;
  font-size: large;
  font-weight: 700;
}

.stats{
  flex: 1;
  text-align: start;
}

.result-buttons{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
}

.play-again{
  color: blue;
  background-color: rgb(236, 223, 206);
}

.back-home{
  color: green;
  background-color: rgb(236, 223, 206);
}